
node_modules
logs
*.log
dist

.env.local

# MCP Client Test
terminal-security.json
terminal-tool.json
docs-config.json
.clinerules-*
doc/docs/*
sqlite_mcp_server.db

# Python Virtual Environment
.venv/
uv.lock
main.py
