*.log
node_modules
logs
*.log
dist
.requests/

.env.local

# MCP Client Test
terminal-security.json
terminal-tool.json
docs-config.json
.clinerules-*
doc/docs/*
sqlite_mcp_server.db
python-mcp/.magg/
python-mcp/.SourceSageAssets/
python-mcp/.SourceSageignore
python-mcp/yfinance.cache
python-mcp/claude_playground/

# Python Virtual Environment
.venv/
uv.lock
main.py

meilisearch
*.pid
data.ms/